In [5]:
# Dependencies
import requests
from config import API_KEY

# API documentation: https://api-docs.airvisual.com/?version=latest
url = "https://api.airvisual.com/v2/nearest_city?lat={{LATITUDE}}&lon={{LONGITUDE}}&key={{API_KEY}}"

In [7]:
# Get country information in JSON format
countries_response = requests.get(url)

countries_response.json()

{'status': 'fail', 'data': {'message': 'incorrect_api_key'}}

In [9]:
#import dependencies
from splinter import Browser
from splinter.exceptions import ElementDoesNotExist
from bs4 import BeautifulSoup
import pandas as pd
import time

In [10]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [11]:
#url of page to be scraped 
url = 'https://lab.lmnixon.org/4th/worldcapitals.html'

In [16]:
#visit the url through the spinter module and add 5 sec delay in the execution 
browser.visit(url)
time.sleep(5)

In [25]:
# HTML Object
html = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

lat_lng = soup.find_all('tbody')

lat_lng = pd.read_html(url)
lat_lng

[                  0          1                          2  \
 0           Country    Capital                   Latitude
 1       Afghanistan      Kabul                     34.28N
 2           Albania     Tirane                     41.18N
 3           Algeria    Algiers                     36.42N
 4    American Samoa  Pago Pago                     14.16S
 ..              ...        ...                        ...
 199          Zambia     Lusaka                     15.28S
 200        Zimbabwe     Harare                     17.43S
 201             NaN        NaN                        NaN
 202             NaN        NaN  :: to Fourth Grade page »
 203             NaN        NaN       :: to Lab homepage »

                              3
 0                    Longitude
 1                       69.11E
 2                       19.49E
 3                       03.08E
 4                      170.43W
 ..                         ...
 199                     28.16E
 200                     31.02E
 201                        NaN
 202  :: to Fourth Grade page »
 203       :: to Lab homepage »

 [204 rows x 4 columns]]

In [32]:
df = lat_lng[0]
df.columns = ["Country","Capital", "Latitude","Longitude"]
df

,Country,Capital,Latitude,Longitude
0,Country,Capital,Latitude,Longitude
1,Afghanistan,Kabul,34.28N,69.11E
2,Albania,Tirane,41.18N,19.49E
3,Algeria,Algiers,36.42N,03.08E
4,American Samoa,Pago Pago,14.16S,170.43W
...,...,...,...,...
199,Zambia,Lusaka,15.28S,28.16E
200,Zimbabwe,Harare,17.43S,31.02E
201,NaN,NaN,NaN,NaN
202,NaN,NaN,:: to Fourth Grade page »,:: to Fourth Grade page »
203,NaN,NaN,:: to Lab homepage »,:: to Lab homepage »

In [38]:
capital_df = df.drop([0])

In [40]:
clean_df = capital_df.dropna()

In [47]:
clean_df

            Country           Capital Latitude Longitude
1       Afghanistan             Kabul   34.28N    69.11E
2           Albania            Tirane   41.18N    19.49E
3           Algeria           Algiers   36.42N    03.08E
4    American Samoa         Pago Pago   14.16S   170.43W
5           Andorra  Andorra la Vella   42.31N    01.32E
..              ...               ...      ...       ...
196       Venezuela           Caracas   10.30N    66.55W
197        Viet Nam             Hanoi   21.05N   105.55E
198      Yugoslavia          Belgrade   44.50N    20.37E
199          Zambia            Lusaka   15.28S    28.16E
200        Zimbabwe            Harare   17.43S    31.02E

[199 rows x 4 columns]

In [51]:
def convert(tude):
    multiplier = 1 if tude[-1] in ['N', 'E'] else -1
    return multiplier * sum(float(x) / 60 ** n for n, x in enumerate(tude[:-1].split('-')))

In [52]:
latitude_df = df.loc[:, ["name", "goal", "pledged",
                                    "state", "country", "staff_pick", "backers_count", "spotlight"]]
reduced_kickstarter_df

44.5

In [59]:
lat = clean_df['Latitude']
lat

1      34.28N
2      41.18N
3      36.42N
4      14.16S
5      42.31N
        ...
196    10.30N
197    21.05N
198    44.50N
199    15.28S
200    17.43S
Name: Latitude, Length: 199, dtype: object

In [68]:
column = list(lat)
# for i in column: 
#   # printing the third element of the column 
#     convert(column[i])
column
for i in column:
    if i contains "N"
    then

['34.28N',
 '41.18N',
 '36.42N',
 '14.16S',
 '42.31N',
 '08.50S',
 '17.20N',
 '36.30S',
 '40.10N',
 '12.32N',
 '35.15S',
 '48.12N',
 '40.29N',
 '25.05N',
 '26.10N',
 '23.43N',
 '13.05N',
 '53.52N',
 '50.51N',
 '17.18N',
 '06.23N',
 '27.31N',
 '16.20S',
 '43.52N',
 '24.45S',
 '15.47S',
 '18.27N',
 '04.52N',
 '42.45N',
 '12.15N',
 '03.16S',
 '11.33N',
 '03.50N',
 '45.27N',
 '15.02N',
 '19.20N',
 '04.23N',
 '12.10N',
 '33.24S',
 '39.55N',
 '04.34N',
 '11.40S',
 '04.09S',
 '09.55N',
 '06.49N',
 '45.50N',
 '23.08N',
 '35.10N',
 '50.05N',
 '04.20S',
 '55.41N',
 '11.08N',
 '15.20N',
 '18.30N',
 '08.29S',
 '00.15S',
 '30.01N',
 '13.40N',
 '03.45N',
 '15.19N',
 '59.22N',
 '09.02N',
 '51.40S',
 '62.05N',
 '18.06S',
 '60.15N',
 '48.50N',
 '05.05N',
 '17.32S',
 '00.25N',
 '13.28N',
 '41.43N',
 '52.30N',
 '05.35N',
 '37.58N',
 '64.10N',
 '16.00N',
 '14.40N',
 '49.26N',
 '09.29N',
 '11.45N',
 '06.50N',
 '18.40N',
 '14.05N',
 '47.29N',
 '64.10N',
 '28.37N',
 '06.09S',
 '35.44N',
 '33.20N',
 '53.21N',
 '31.71N',
 '41.54N',
 '18.00N',
 '31.57N',
 '51.10N',
 '01.17S',
 '01.30N',
 '29.30N',
 '42.54N',
 '17.58N',
 '56.53N',
 '33.53N',
 '29.18S',
 '06.18N',
 '32.49N',
 '47.08N',
 '54.38N',
 '49.37N',
 '22.12N',
 '18.55S',
 '42.01N',
 '14.00S',
 '03.09N',
 '04.00N',
 '12.34N',
 '35.54N',
 '14.36N',
 '20.10S',
 '12.48S',
 '19.20N',
 '06.55N',
 '47.02N',
 '25.58S',
 '16.45N',
 '22.35S',
 '27.45N',
 '52.23N',
 '12.05N',
 '22.17S',
 '41.19S',
 '12.06N',
 '13.27N',
 '09.05N',
 '45.20S',
 '39.09N',
 '15.12N',
 '59.55N',
 '23.37N',
 '33.40N',
 '07.20N',
 '09.00N',
 '09.24S',
 '25.10S',
 '12.00S',
 '14.40N',
 '52.13N',
 '38.42N',
 '18.28N',
 '25.15N',
 '37.31N',
 '44.27N',
 '55.45N',
 '01.59S',
 '17.17N',
 '14.02N',
 '46.46N',
 '13.10N',
 '13.50S',
 '43.55N',
 '00.10N',
 '24.41N',
 '14.34N',
 '08.30N',
 '48.10N',
 '46.04N',
 '09.27S',
 '02.02N',
 '25.44S',
 '40.25N',
 '15.31N',
 '05.50N',
 '26.18S',
 '59.20N',
 '46.57N',
 '33.30N',
 '38.33N',
 '13.45N',
 '06.09N',
 '21.10S',
 '36.50N',
 '39.57N',
 '38.00N',
 '08.31S',
 '00.20N',
 '50.30N',
 '24.28N',
 '51.36N',
 '06.08S',
 '39.91N',
 '18.21N',
 '34.50S',
 '41.20N',
 '17.45S',
 '10.30N',
 '21.05N',
 '44.50N',
 '15.28S',
 '17.43S']